In [4]:
from dataclasses import dataclass, field, asdict
from typing import List

In [6]:
import pandas as pd

In [7]:
@dataclass
class Transaction:
    date: str = ""
    account: int = 0
    title: str = ''
    amount: float = 0.0

In [17]:
@dataclass
class GeneralLedger:
    transactions: List[Transaction] = field(default_factory=list)
        
    def trial_balance(self):
        df = pd.DataFrame([asdict(txn) for txn in self.transactions])
        return df.pivot_table(
            index=['account', 'title'],
            values='amount',
            aggfunc=sum
        ).reset_index()

In [19]:
gl=GeneralLedger(
    [Transaction('1/1/20', 1000, 'Cash', 1000),
     Transaction('1/1/20', 1010, 'Payable', 200),
     Transaction('1/1/20', 1000, 'Cash', 500),
     Transaction('1/1/20', 1020, 'Expense', 2000)
     ]
)

In [20]:
gl.trial_balance()

   account    title  amount
0     1000     Cash    1500
1     1010  Payable     200
2     1020  Expense    2000